<div className="row">
    <div className="col-4">
        <%- left %>
    </div>
    <div className="col-4">
        <%- middle %>
    </div>
    <div className="col-4">
        <%- right %>
    </div>
</div>
